{
  "extends": "eslint-config-synacor",
  "plugins": [
    "prettier"
  ] ,
  "rules": {
    "prettier/prettier": [ "error", {
      "useTabs" : true,
      "tabWidth" : 4,
      "singleQuote" : true,
    }]
  }
}
